<!DOCTYPE html>
<html>
<head>
    {% load static %} 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To do App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href= "{%  static 'todo/style.css' %}">
</head>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                To Do App
            </a>
        </div>
    </div>
</nav>
<body>
{% block content %}

{% endblock content %}
</body>
<footer style='text-align: center'>Copyright 2021</footer>
</html>