{% extends "base.html" %} 
{% block content %}
<div style='text-align: left;padding-left: 570px;padding-right: 570px; height: 635px;'>
<h1 style="font-size: 30px;height: 70px;"><b>Change Password</b></h1>    
<form method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="old_password" placeholder="Old password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>  
    </div>
    <div class="field">
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="new_password1" placeholder="New Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>  
    </div>
    <div class="field">
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="new_password2" placeholder="Confirm New Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>  
    </div>
    
    <div class="field">
        <p class="control">
          <button class="button is-link">
            Save
          </button>
        </p>
    </div>   
</form>

{% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div style="color:red">
            {{ message }}
        </div>
        {% else %}
            {{ message }}
        {% endif %}
{% endfor %}

{% if request.user.is_authenticated %}
    <a class="button" href="{% url 'home' %}">Back</a>
{% endif %}
</div>

{% endblock %}  