{% extends 'base.html' %}
{% block content %}
<div style='text-align: left;padding-left: 570px;padding-right: 569px; height: 635px;'>
  <h1 style="font-size: 30px;height: 70px;"><b>Edit Task</b></h1>
  <form method="POST" action="">
      {% csrf_token %}
      <div class="control">
        <input class="input" name ="task" type="text" placeholder="{{ todo_form.task }}">
      </div>
      <p>Change the category for your task:
        {{ todo_form.category }} 
      </p>
      <p>
        Change the due date for your task:
        {{ todo_form.due_date }}
      </p>
      <div class="field">
          <p class="control">
            <button class="button is-link">
              Edit 
            </button>
          </p>
      </div> 
  </form>
  <p>
  {% if request.user.is_authenticated %}
    <a class="button" href="{% url 'home' %}">Back</a>
  {% endif %}
  </p>
</div>
{% endblock %}