{% extends 'base.html' %}

{% block content %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Add Todo">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello from home.html
            </h1>
        </div>
    </section>
{% endblock %}