{% extends "base.html" %} 
{% block content %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                To Do App
            </a>
        </div>
    </div>
</nav>
<div style='text-align: left;padding-left: 600px;padding-right: 600px; height: 620px;'>
<h1 style="font-size: 30px;height: 100px;">Login Page</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div class="field">
        <label class="label">Username</label>
        <input class="input is-success" type="text" name="username">
    </div>   
    <div class="field">
        <label class="label">Password</label>
        <input class="input" type="password" name="password">
        
    </div>
    <div class="field">
        <p class="control">
          <button class="button is-success">
            Login
          </button>
        </p>
    </div>    
</form>
<div>
{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div style="color:red">
        {{ message }}
    </div>
    {% else %}
        {{ message }}
    {% endif %}
{% endfor %}
</div>
<a href="{% url 'signup' %}">Don't have an account ? Signup now</a>  
</div>

{% endblock %}
