{% extends 'base.html' %}

{% block content %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                To Do App
            </a>
        </div>
    </div>
</nav>

<div style="text-align: left;padding-left: 570px;padding-right: 570px; height: 635px;">
<h1 style="font-size: 30px;height: 70px;"><b>Register</b></h1>
  <form method="post">
    {% csrf_token %}
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username" >
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" name="password1" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      </div>  
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" name="password2" placeholder="Confirm Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>   
      </div>  
    </div>  
    <div  class="field">
      <p class="control">
        <button class="button is-link">
          Register
        </button>
      </p>
    </div> 
  </form>
  <div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div style="color:red; align-content: center;">
            {{ message }}
        </div>
        {% else %}
            {{ message }}
        {% endif %}
    {% endfor %}
    </div>   
<a href="{% url 'login' %}">Already have an account ? Login now!</a>
<b>
<p style="color:red">Password requirements:</p>
<ul style= "color: red">
  <p>Your password can’t be too similar to your other personal information.</p>
  Your password must contain at least 8 characters.
  Your password can’t be a commonly used password.
  Your password can’t be entirely numeric.
</ul>
</b>

</div>  
{% endblock %}